{% set company.short_name = "RCI Limited" %}
{% set company.full_name = "Rokea Chemical Industires Limited" %}

{% set client_companies = [
  {
    "name": "himalaya",
    "logo": "/content/gallery/companies/himalaya.png"
  },
  {
    "name": "hemas",
    "logo": "/content/gallery/companies/hemas.png"
  },
  {
    "name": "aci",
    "logo": "/content/gallery/companies/aci.png"
  },
  {
    "name": "kumarika",
    "logo": "/content/gallery/companies/kumarika.png"
  },
  {
    "name": "sepnil",
    "logo": "/content/gallery/companies/sepnil.png"
  },
  {
    "name": "wipro",
    "logo": "/content/gallery/companies/wipro.png"
  }
] %}